body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

:root {
    --background: rgb(255, 255, 255);
    --background-linear1: rgb(11, 34, 90);
    --background-linear2: rgb(103, 172, 250);
    --container: #353535;
    --text-color: white;
    --screen: #35353583;
    --btn-hover: black;
    --btn-hover-text: #67acfa;
    --shadow: rgba(59, 59, 59, 0.75);
}

span {
    font-weight: 300;
    font-size: 6.25rem;
}

.card-body {
    background: var(--background);
    background: linear-gradient( 1deg, var(--background-linear1) 0%, var(--background-linear2) 80%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-time {
    /* background-color: var(--container); */
    width: 600px;
    height: 250px;
    border-radius: 25px;
    border-style: outset;
    box-shadow: 11px 17px 22px 0 var(--shadow);
}

.card-time>.screen {
    color: var(--text-color);
    background-color: var(--screen);
    margin: 6px;
    text-align: center;
    border-radius: inherit;
}

.card-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 15px 100px;
}

.card-btn>button {
    display: block;
    background: none;
    border: none;
    outline: inherit;
    cursor: pointer;
    height: 80px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 50px;
}

button:hover {
    transform: scale(1.2);
    transition: 0.5s;
    background-color: var(--btn-hover);
    color: var(--btn-hover-text);
}